@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: "Poppins" sans-serif;
  color: white;
}

body {
  background-color: Black;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/versus.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar {
  padding: .1rem;
}

.navbar-nav li {
  padding-right: 1.7rem;
}

.nav-link {
  font-size: 1.3rem !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
}

.carousel-caption h1 {
  font-family: Impact, Charcoal, sans-serif;
  color: Azure;
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 20px 20px 100px black;
}

.carousel-caption h3 {
  font-family: Impact, Charcoal, sans-serif;
  color: Azure;
  font-size: 200%;
  font-weight: 500;
  text-shadow: 15px 15px 50px black;
  padding-bottom: 1rem;
}

.carousel-caption .btn {
  font-synthesis: 95%;
  padding: 8px 14px;
}

.display-4 {
  font-size: 600%;
}

.btn-primary {
  background-color: #6648b1;
  border: 1px solid #6648b1;
}

.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-basketball-ball{
  color: #FF8C00;
}

.fa-gamepad {
  color: #9932CC;
}

.fa-chart-line {
  color: #008B8B;
}

.fa-basketball-ball, .fa-gamepad, .fa-chart-line {
  font-size: 4rem;
  margin: 1rem;
}

div.row.welcome.text-center {
  color: OldLace;
  text-shadow: 10px 10px 30px white;
  font-family: Impact, Charcoal, sans-serif;
}

.search-field {
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
}

.search-btn {
  height: 50px;
  width: 150px;
  background: #ffeb3b;
  border: none;
  color: #000;
  border-radius: 25px;
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

table th {
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

table td {
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}



* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: black;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color:blue;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

