<!-- Set Up -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>DataDunks</title>

    <!-- Importing Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<!-- Importing the other links -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<!-- Importing the link to CSS File -->
	<link href="../static/css/style.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>

  </head>

  <body>
	<!-- Create the Nav Bar -->
    <nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		
		<label class="logo">DataDunks</label>
		<ul>
			<li><a class="active" href="index.html">Home</a></li>
			<li><a class="active" href="pvp.html">Player vs. Player</a></li>
			<li><a class="active" href="tvt.html">Team vs. Team</a></li>
			<li><a class="active" href="stats.html">Database</a></li>
			<li><a class="active" href="about.html">About Us</a></li>
		</ul>
	</nav>

	<hr style="border: 1px solid #F8F8FF;" />

	<!-- Create Carousel Image Slider -->
	<div id="slides" class="carousel slide" data-ride="carousel">
		<ul class="carousel-indicators">
			<li data-target="#slides" data-slide-to="0" class="active"></li>
			<li data-target="#slides" data-slide-to="1"></li>
			<li data-target="#slides" data-slide-to="2"></li>
		</ul>
		<div class="carousel-inner">

			<!-- First Carousel Item -->
			<div class="carousel-item active">
				<img src="../static/img/background2.png">
				<div class="carousel-caption">
					<h3 class="display-2">Discover the true King of the Court</h3>
					<button onClick="window.location='pvp.html';" type="button" class="btn btn-primary btn-lg">Player vs Player</button>
				</div>
			</div>

			<!-- Second Carousel Item -->
			<div class="carousel-item">
				<img src="../static/img/background1.jpg">
				<div class="carousel-caption">
					<h3 class="display-2">The Team that towers above all</h3>
					<button onClick="window.location='tvt.html';" type="button" class="btn btn-primary btn-lg">Team vs Team</button>
				</div>
			</div>

			<!-- Third Carousel Item -->
			<div class="carousel-item">
				<img src="../static/img/background3.jpg">
				<div class="carousel-caption">
					<h3 class="display-2">Check out our database for statistics</h3>
					<button onClick="window.location='stats.html';" type="button" class="btn btn-primary btn-lg">Database</button>
				</div>
			</div>
			
		</div>
	</div>

	<hr style="border: 1px solid #F8F8FF;" />
	<br>
	<br>

	<!-- Create JumboTron -->
	<div class="container-fluid">
		<div class="row jumbotron">
			<div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
				<h1>Welcome to DataDunks</h1>
			</div>
		</div>
	</div>
	<!-- Optional Section, Explanation -->
	<div class="container-fluid padding" style="background: #000000;">
		<div class="row padding">
			<div class="col-12">
				<p class="one">
					As fans of Data and Basketball, we wanted to use data to predict the outcome of a basketball match in a simulated (what-if) scenario.
					To extend the meaningfulness of the project, we incorporated two modes (Player vs Player) and (Team vs Team), and gave users access
					to the data used within the project. 
				
					Click the links below to get more information. Choose to either visit our GitHub Documentation page or to be redirected to 
					the "About Us" page that houses our intentions and initial project proposal.
				</p>

				<a href="about.html"><button type="button" class="btn btn-primary btn-lg">About Us</button></a>
				<a href="https://github.com/gianmillare/Data-Dunks"><button type="button" class="btn btn-primary btn-lg">Documentation</button></a>
			</div>
		</div>
	</div>

	<br>
	<br>
	<hr style="border: 1px solid #F8F8FF;" />
	<br>
	<br>

	<!-- Optional Section, Flexibility -->
	<div class="container-fluid">
		<div class="row jumbotron">
			<div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
				<h2>Simulate your favorite players into a fantasy battle. Find out who truly deserves the crown.</h2>
			</div>
		</div>
	</div>
	<div class="container-fluid padding">
		<div class="row text-center padding">

			<!-- Part 1 -->
			<div class="col-xs-12 col-xm-6 col-md-4">
				<i class="fas fa-basketball-ball"></i>
				<h3>Fantasy Teams</h3>
				<p class="one">Take any player from any season, and create a dream team</p>
			</div>

			<!--  Part 2 -->
			<div class="col-xs-12 col-xm-6 col-md-4">
				<i class="fas fa-gamepad"></i>
				<h3>Historical Teams</h3>
				<p class="one">You can input names of players from a specific team, any season</p>
			</div>

			<!-- Part 3 -->
			<div class="col-xs-12 col-xm-6 col-md-4">
				<i class="fas fa-chart-line"></i>
				<h3>Current Teams</h3>
				<p class="one">Want to predict the outcome of an upcoming game? These simulations are based on historical performances!</p>
			</div>
		</div>
	</div>

	<br>
	<br>
	<hr style="border: 1px solid #F8F8FF;" />
	<br>
	<br>

	<div class="container-fluid">
		<div class="row jumbotron">
			<div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
				<h1>Meet the Team</h1>
			</div>
		</div>
	</div>

	<br>
	<br>

	<!-- Team Cards -->
	<div class="container-fluid padding">
		<div class="row padding">

			<!-- GM Portfolio -->
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="../static/img/gm.png">
					<div class="card-body">
						<h4 class="card-title">Gian Millare</h4>
						<p class="card-text">Aspiring Data Scientist & Software Developer</p>
						<a href="https://github.com/gianmillare" class="btn btn-primary btn-lg">View Portfolio</a>
						<a href="https://www.linkedin.com/in/gianmillare/" class="btn btn-primary btn-lg">View LinkedIn</a>
					</div>
				</div>
			</div>

			<!-- Nelson Portfolio -->
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="../static/img/Nelson.jpg">
					<div class="card-body">
						<h4 class="card-title">Nelson Tsai</h4>
						<p class="card-text">Aspiring Data Scientist & ML Engineer</p>
						<a href="https://github.com/nelsont87" class="btn btn-primary btn-lg">View Portfolio</a>
						<a href="https://www.linkedin.com/in/nelsontsai87/" class="btn btn-primary btn-lg">View LinkedIn</a>
					</div>
				</div>
			</div>

			<!-- Eric Portfolio -->
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="../static/img/eric.png">
					<div class="card-body">
						<h4 class="card-title">Eric Huey</h4>
						<p class="card-text">Aspiring Data Scientist & BI Analyst</p>
						<a href="https://github.com/ehuey001" class="btn btn-primary btn-lg">View Portfolio</a>
						<a href="https://www.linkedin.com/in/ehuey001/" class="btn btn-primary btn-lg">View LinkedIn</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>
	<hr style="border: 1px solid #F8F8FF;" />
	<br>
	<br>

	<!-- Overview of Database -->
	<div class="container-fluid padding">
		<div class="row padding">

			<div class="col-md-12 col-lg-6">
				<h2>Statistics and Databases</h2>
				<br>
				<p>
					Our innovative thinking stems from a UC Berkeley Project. Using methods in Python, Javascript, SQL, and HTML/CSS, 
					we obtained information from various websites into a single database. View our data by clicking the button below!
				</p>
				<br>

				<a href="stats.html" class="btn btn-primary">Show me!</a>
			</div>
			<div class="col-lg-6">
					<img class="one" src="../static/img/wallpaper.png" class="img-fluid">
			</div>
		</div>
	</div>


	<br>
	<br>
	<hr style="border: 1px solid #F8F8FF;" />
	<br>
	<br>
	
  </body>
</html>