<!-- Set Up -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>DataDunks</title>

    <!-- Importing Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<!-- Importing the other links -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<!-- Importing the link to CSS File -->
	<link href="../static/css/stylestats.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>

	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.4/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>


  </head>

<!-- The Body Begins Here -->
<body>

<!-- Create the Nav Bar -->
<nav>
	<input type="checkbox" id="check">
	<label for="check" class="checkbtn">
		<i class="fas fa-bars"></i>
	</label>
	
	<label class="logo">DataDunks</label>
	<ul>
		<li><a class="active" href="index.html">Home</a></li>
		<li><a class="active" href="pvp.html">Player vs. Player</a></li>
		<li><a class="active" href="tvt.html">Team vs. Team</a></li>
		<li><a class="active" href="stats.html">Database</a></li>
		<li><a class="active" href="about.html">About Us</a></li>
	</ul>
</nav>

<hr style="border: 1px solid #F8F8FF;" />


<!-- Start of Header -->
<div class="container-fluid">
	<div class="row jumbotron">
		<div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
			<h1>Statistics and Database</h1>
		</div>
	</div>
</div>

<!-- End of Header -->

<!-- Form Starts Here -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<div class="header">
			<form id="form1" autocomplete="off" method="POST" action="/stats.html">
				<h2>Input Player</h2>
				<div class="form">
					<div class = "autocomplete" >
						<input id = "stats" type="text" class="search-field player1" placeholder="PLAYER" name="player">
					</div>
						<button form="form1" class="search-btn" type="submit">Find Stats</button>

				</div>
			</form>
		</div>
	</div>
</div>
</div>

<hr style="border: 1px solid #F8F8FF;" />

<!-- Form Ends Here -->

<!-- Start Database Stats -->

<div class="container-fluid">
	<div class="row jumbotron">
		<div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
			<h1>Player Stats</h1>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div  class="col-md-12">
			<table class = "table table-bordered" style = "color: white; ">
				<thead>
					<tr><th>Player</th><th>Season</th><th>BPM</th><th>2P</th><th>3P</th><th>eFG%</th><th>PER</th></tr>
				</thead>
				<tbody id="statsplayer"></tbody>
			</table>
		</div>
	</div>
</div>
<!-- End Database Stats -->


<script src = "/static/js/appstats.js"></script> 

</body>
</html>